.container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 500px;
    overflow: auto;
    border: 1px solid #000;
    padding: 10px
}
.expandablePanal{
    margin-left: 10px;
}